/*
Popcorn Project
Created by Jeff Wu, Liam White
Index Style Sheet
University of Portsmouth
2018.01.11
*/

@font-face{
  font-family:barlow;
  src:url(../../asset/fonts/barlow.ttf);
}

a {
  color:inherit;
  text-decoration: none;
}



.dialogOverlay{
  display: none;
  position: fixed;
  top:0px;
  left:0px;
  height:100%;
  width:100%;
  background-color:#000;
  opacity: 0.8;
  z-index:998 !important;
}


.dialog{
  display: none;
  position:fixed;
  top:20%;
  left:20%;
  width:60%;
  height:60%;
  background-color: #222222;
  z-index:999 !important;

}

.dialog_close{
  font-size:22px;
  color:#545454;
  margin-left: 1%;
  margin-top:1%;
  cursor: pointer;
}

.dialog_close:hover{
  color:#dc2323;
  /*timer*/
  -webkit-transition: all 180ms cubic-bezier(.25,.8,.25,1);
  -moz-transition: all 180ms ease-in-out;
  transition: all 180ms ease-in-out;

}

.dialog_input{
  text-align: center;
}


.dialog input{
  background-color: transparent;
  border-radius: 30px;
  border:none;
  border-bottom: 3px solid #545454;
  border-radius: 0;
  outline: none;
  height: 3rem;
  width: 80%;
  font-size: 30px;
  margin-top:4%;
  color:#545454;
  box-shadow: none;
}

.dialog input:focus{
  border-bottom: 4px solid #dc2323;
  width: 82%;
  color:#848484;
  /*timer*/
  -webkit-transition: all 240ms cubic-bezier(.25,.8,.25,1);
  -moz-transition: all 240ms ease-in-out;
  transition: all 240ms ease-in-out;
}

.dialog_term{
  margin-top:1.6%;
  margin-left:10%;
  color:#545454;
  font-size:18px;
}

.dialog_term_policy{
  opacity: 0.5;
}

.dialog_term_policy:hover{
  opacity: 1;
}

.dialog_button{
  margin-top:1.6%;
  text-align: center;
}

.dialog_button button{
  background-color: #dc2323;
  border: none;
  color: #ffffff;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  width:80%;
  cursor: pointer;
}

.dialog_button button:hover{
  box-shadow: 0px 0px 50px 0px rgba(170,40,40,0.75);
  /*timer*/
  -webkit-transition: all 580ms cubic-bezier(.25,.8,.25,1);
  -moz-transition: all 580ms ease-in-out;
  transition: all 580ms ease-in-out;

}

.dialog_iForgot{
  margin-top:3%;
  text-align: center;
}

.dialog_iForgot a{
  color:#545454;
  font-size:18px;
}

.dialog_iForgot a:hover{
  color:#747474;
  /*timer*/
  -webkit-transition: all 180ms cubic-bezier(.25,.8,.25,1);
  -moz-transition: all 180ms ease-in-out;
  transition: all 180ms ease-in-out;
}

.alertOverlay{
  display:none;
  position:fixed;
  text-align: center;
  top:0px;
  width:100%;
  height:40px;
  background-color:#58c271;
  padding-top:10px;
  opacity: 0.9;
}

.alertOverlay a{
  color:#fafafa;
  font-size:22px;

}

@media screen and (max-width: 600px){
  .dialog{
    top:20%;
    left:13%;
    height:54%;
    width:76%;
  }

  .dialog input{
    font-size: 16px;
    border-bottom: 2px solid #545454;

  }

  .dialog_term{
    font-size:12px;
  }

  .dialog_button{
    margin-top:2.6%;
  }

  .dialog_button button{
    font-size: 14px;
    width:80%;
  }

  .dialog_iForgot{
    margin-top:2%;
  }

  .dialog_iForgot a{
    font-size:12px;
  }


}



.content{
  position:relative;
  margin-top:31%;
}

.content_title{

  margin-top:2%;
  margin-right:50px;
  margin-left:5%;
  margin-bottom:2%;

}


.content_title>img{
width: auto;
height:auto;

}

.content_title{

  font-family: barlow;
}

.ct {
  font-family: barlow;
  color:#ffffff;
  font-weight:600;
  font-size:24px;
  letter-spacing:3px;
  cursor: default;


}

.ct:hover{
  opacity: 0.4;
  /*timer*/
  -webkit-transition: all 180ms cubic-bezier(.25,.8,.25,1);
  -moz-transition: all 180ms ease-in-out;
  transition: all 180ms ease-in-out;
}

.content_video_list{
  /*Layout Ref VEVO website*/
  display:flex;
  flex-direction:row;
  flew-wrap:nowrap;
  overflow-x: hidden;
  overflow-y: hidden;
  -webkit-box-align: start;
  align-items: flex-start;
  width:100%;
  /*timer*/
  -webkit-transition: all 180ms cubic-bezier(.25,.8,.25,1);
  -moz-transition: all 180ms ease-in-out;
  transition: all 180ms ease-in-out;

}

.vl_container{
  float:left;
  width:384px;
  margin-top:4px;
  margin-left:5%;
}

.vl_container img{
  width:302px;
  height:467px;
}

.vl_container img:hover{
  filter: saturate(1.6);
  /*timer*/
  -webkit-transition: all 180ms cubic-bezier(.25,.8,.25,1);
  -moz-transition: all 180ms ease-in-out;
  transition: all 180ms ease-in-out;
}

.vl_text{
  font-family: barlow;
  margin-top:4px;
  margin-bottom:4px;
  margin-left:25%;
}

.vl_text a:hover{
  color:#dc2323 !important;
  /*timer*/
  -webkit-transition: all 180ms cubic-bezier(.25,.8,.25,1);
  -moz-transition: all 180ms ease-in-out;
  transition: all 180ms ease-in-out;
}

.vl_info{
  font-size:9px;
}

.vl_container a{
  color:#ffffff;
}

.vl_title{
  font-family: barlow;
  font-size:26px;
  color: #ffffff;
}

.vl_details{

}

.vl_more_button{
  display:none;
  background-color:#333333;
  text-align: center;
  margin-left:5%;
}

.vl_more_button{
  color:#dc2323;
  border:none;
  width:91%;
  height:50px;
}

.vl_button{


}

/*.vl_next_button{
  position:absolute;
  right:0px;
  height: 216px;
  width: 68px;
  margin-top: 4px;
  border: none;
  font-size: 40px;
  color:#ffffff;
  cursor: pointer;
  background-color:rgba(0, 0, 0, 0.5);
}*/

.vl_next_button:hover{
  color:#dc2323;
  background-color:rgba(0, 0, 0, 0.8);
  /*timer*/
  -webkit-transition: all 180ms cubic-bezier(.25,.8,.25,1);
  -moz-transition: all 180ms ease-in-out;
  transition: all 180ms ease-in-out;
}

.vl_next_button>i{
  opacity: 0.7;
}


/*.vl_back_button{
  position:absolute;
  left:0px;
  height: 216px;
  width: 68px;
  margin-top: 4px;
  border: none;
  font-size: 40px;
  color:#ffffff;
  cursor: pointer;
  background-color:rgba(0, 0, 0, 0.5);
  display:none;
}*/

.vl_back_button:hover{
  color:#dc2323;
  background-color:rgba(0, 0, 0, 0.8);
  /*timer*/
  -webkit-transition: all 180ms cubic-bezier(.25,.8,.25,1);
  -moz-transition: all 180ms ease-in-out;
  transition: all 180ms ease-in-out;

}

.vl_back_button>i{
  opacity: 0.7;
}

@media screen and (max-width: 600px){

  .content{
    margin-top:14%;
  }

  .ct{
    font-size:20px;
  }

  .content_video_list{
    /*Layout Ref VEVO website*/
    display:block;
    flex-direction:row;
    flew-wrap:nowrap;
    overflow-x: hidden;
    overflow-y: hidden;
    -webkit-box-align: start;
    align-items: flex-start;
    width:100%;
    /*timer*/
    -webkit-transition: all 180ms cubic-bezier(.25,.8,.25,1);
    -moz-transition: all 180ms ease-in-out;
    transition: all 180ms ease-in-out;

  }

  .banner{
    display:none;

  }


  .vl_container img{
    width:160px;
    height:90px;
    filter: saturate(1);

  }

  .vl_title{
    font-size:18px;
  }

  .vl_details{
    display:none;
  }

  .vl_info{
    display:none;
  }

  .vl_more_button{
    display:block;
  }

  .vl_button{
    display:none !important;
  }

}

.banner{
  margin-top:40px;
  margin-bottom:40px;
  margin-left:10px;
  margin-right:10px;

}

.banner_img_inner{
  margin-left: 1%;
  overflow: hidden;
  width:97.8%;
  height:360px;
}

.banner_img_inner img{
  opacity: 0.4;
}

.banner_img_inner img:hover{
  opacity: 1;
  /*timer*/
  -webkit-transition: all 180ms cubic-bezier(.25,.8,.25,1);
  -moz-transition: all 180ms ease-in-out;
  transition: all 180ms ease-in-out;
}

.videoarea{
  	width: 960px;
    height: 540px;
    background-color: #000;
  	margin-top:0px;
    margin-right:0px;
    margin-bottom:0px;
    margin-left:25%;
  	z-index:-999 !important;
}

.video01{
  width:960px;
  height:540px;
	text-align:center;
	margin-top:0px;
  margin-right:0px;
  margin-bottom:0px;
  margin-left:0px;
}

.video>video{

	width: 100%;
  height: 800px;
	background-color:#22222;

}

.f_container{
  height:250px;
  width:100%;

}

.contact{
  width:100%;
margin-top: 0px;
margin-right: 0px;
margin-left: 0px;
margin-bottom: 0px;
display: inline;

}

.contact>ul>li>a>img{
width:45%;
height:100%;
margin-left: 30%;

}

.contact>ul>li{
font-family: barlow;
font-size: 1.5em;
color: #ffffff;
}

.contact>ul>li>a{
}


.contact>ul{
  list-style-type: none;
  display:flex;
  margin-left: 20%;
  margin-top: 4%;

}


.videoPreview_Container{
    width:100%;
    height:600px;
    overflow: hidden;
}

.vP_container_inside{
  display: flex;
  flex-direction: row;
  margin-left: -130px;
}

.videoimg img{
  height:600px;
}

.videoimg>img{

right:-50px;

}

.video_title{
width:100%;

}

.content_video_list01{
  /*Layout Ref VEVO website*/
  display:flex;
  flex-direction:row;
  flew-wrap:nowrap;
  overflow-x: hidden;
  overflow-y: hidden;
  -webkit-box-align: start;
  align-items: flex-start;
  width:100%;
  /*timer*/
  -webkit-transition: all 180ms cubic-bezier(.25,.8,.25,1);
  -moz-transition: all 180ms ease-in-out;
  transition: all 180ms ease-in-out;
  margin-left: 10px;

}

.vl_container2{
  float:left;
  width:384px;
  margin-top:4px;
  margin-left:0%;
}

.v1container2 >a>img{

height:300px;
width:250px;

}

.time_point1{

width:100%;
height:100%;
margin-bottom:50px;

}

.time_point1>img{

width:72%;
height:10%;
margin-left: 250px;

}

.time_line{

width: 100%;
height: 20%;
color: #ffffff;

}

.time_line>ul{
  list-style: none;
  font-family: barlow;
  font-size: 1.5em;
  display: flex;

}

.time_line>ul>li{
list-style: none;

}

.time_line>ul>li>a{
margin-left: 83%;

}

.ticket_but1{
height: 240px;
width:100%;
text-align: center;

}

.ticket_but1>img{
height:200px;
width:400px;
margin-left:39%;


}
